* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #eee;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 20px;
}

label {
    width: 80%;
    height: 50px;
    font-size: 40px;
}

#resultado {
    width: 80%;
    height: 50px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: right;
    padding-right: 20px;
    border: 2px solid #000;
    border-radius: 10px;
}

.calculadora button {
    width: 20%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.calculadora button:hover {
    background-color: blue;
    color: #fff;
}

.calculadora .operador {
    background-color: crimson;
    color: white;
    font-weight: bold;
}

.calculadora .operador:hover {
    color: white;
    background-color: darkred;
}

#limpar {
    background-color: lightblue;
    width: 40%;
}

#limpar:hover {
    background-color: darkblue;;
}

#igual {
    background-color: lightblue;;
    width: 40%;
}

#igual:hover {
    background-color: darkblue;
}

#limpar {
    width: 60%;
}